<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="./assets/css/noUIslider.css" rel="stylesheet" type="text/css">
    <link href="./assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header class="main-header">
     	<div class="container">
     		<div class="main-header-top">
     			<div class="user-city">
     				<div class="choice-city-text">Ваш город: </div>
     				<div class="choice-city-button">Нижний Новгород</div>
     			</div>
     			<div class="main-header-logo"><a href=""><img src="./assets/images/logo.svg" alt=""></a></div>
     			<div class="main-header-info">
     				<div class="main-header-phone"><a href="">8 800 000 00 00</a></div>
     				<div class="main-header-callback"><a href="">Обратный звонок</a></div>
     			</div>
     		</div>
     		<div class="main-header-bottom">
     			<div class="main-header-menu">
     				<ul>
     					<li><a href="">Займ под залог ПТС</a></li>
     					<li><a href="">Автоломбард классический</a></li>
     					<li><a href="">Займ под залог недвижимости</a></li>
     					<li><a href="">Рефинансирование, перезалог</a></li>
     				</ul>
     			</div>
     			<a href="" class="main-header-calculation">Расчет займа %</a>
     		</div>
     	</div>
    </header>