{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="container">
	<div class="news-archive-content">
		<a href="" class="news-item _mini">
			<div class="news-item-img">
				<img src="./assets/images/news.jpg" alt="">
			</div>
			<div class="news-item-name">Противоположная точка.</div>
		</a>
		<a href="" class="news-item _mini">
			<div class="news-item-img">
				<img src="./assets/images/news.jpg" alt="">
			</div>
			<div class="news-item-name">Противоположная точка.</div>
		</a>
		<a href="" class="news-item _large">
			<div class="news-item-info">
			<div class="news-item-name">Противоположная точка.</div>
			<div class="news-item-text">Есть над чем задуматься: действия представителей оппозиции будут заблокированы в рамках своих собственных рациональных ограничений. Каждый из нас понимает очевидную вещь: синтетическое тестирование требует...</div>
			<div class="news-item-link">Подробнее</div>
			</div>
			{# <div class="news-item-img">
				<img src="./assets/images/news.jpg" alt="">
			</div> #}
		</a>
		<a href="" class="news-item _no-preview" style="background-image: url(./assets/images/news.jpg);">
			<div class="news-item-info">
				<div class="news-item-name">Противоположная точка.</div>
				<div class="news-item-link">Подробнее</div>
			</div>
		</a>
		<a href="" class="news-item _large">
			<div class="news-item-info">
			<div class="news-item-name">Противоположная точка.</div>
			<div class="news-item-text">Есть над чем задуматься: действия представителей оппозиции будут заблокированы в рамках своих собственных рациональных ограничений. Каждый из нас понимает очевидную вещь: синтетическое тестирование требует...</div>
			<div class="news-item-link">Подробнее</div>
			</div>
			<div class="news-item-img">
				<img src="./assets/images/news.jpg" alt="">
			</div>
		</a>
	</div>
	<a href="" class="show-more">Показать еще</a>
</div>
</main>
{% include "partials/footer.twig" %}