.footer-content {
    background: #00AEEF;
    border-radius: 3px 3px 0 0;
    padding: 25px 35px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0 40px 0 0;
    column-count: 2;
}
.footer-menu ul:last-child {
    column-gap: 40px;
}
.footer-menu ul li{
	margin-bottom: 10px;
}
.footer-menu ul li a {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}
.footer-menu ul:last-child li a{
	font-weight: 500;
}
.footer-info{}
.footer-logo{
	margin-bottom: 12px;
}
.footer-phone{
	margin-bottom: 6px;
}
.footer-phone a{
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer-callback{}
.footer-callback a{
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	text-decoration: none;
}
.footer-border{
	width: 100%;
	height: 1px;
	border: none;
	background-color: #ECECEC;
	margin: 20px auto 0;
}
.under-footer {
    background: #00AEEF;
    padding: 10px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.under-footer-link a {
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}
.copyright {
    position: absolute;
    left: calc(50% - 16px);
    top: calc(50% - 8px);
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
.is-art a {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.is-art a img{
	margin-left: 8px;
}