.footer-content{}
.footer-menu{}
.footer-menu ul{}
.footer-menu ul li{}
.footer-menu ul li a{}
.footer-info{}
.footer-logo{}
.footer-phone{}
.footer-phone a{}
.footer-callback{}
.footer-callback a{}
.under-footer{}
.under-footer-link{}
.under-footer-link a{}
.copyright{}
.is-art{}
.is-art a{}