.main-header{
	margin-bottom: 25px;
}
.main-header-top {
    padding: 15px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.user-city {
    background-image: url(../images/marker.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}
.choice-city-text{
	font-size: 14px;
	line-height: 17px;
	color: #C4C4C4;
	margin-right: 4px;
}
.choice-city-button a{
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000000;
	text-decoration: none;
}
.main-header-logo {
    position: absolute;
    left: calc(50% - 100px);
}
.main-header-info{}
.main-header-phone{}
.main-header-phone a{
	font-weight: 600;
font-size: 18px;
line-height: 22px;
color: #000000;
text-decoration: none;
}
.main-header-callback{}
.main-header-callback a{
	font-weight: 500;
font-size: 15px;
line-height: 18px;
text-decoration: none;
color: #F5842B;
}
.main-header-bottom {
    border: 1px solid #ECECEC;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 25px;
}
.main-header-menu{}
.main-header-menu ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-header-menu>ul:not(.sub-menu)>li{
	position: relative;
}
.main-header-menu>ul:not(.sub-menu)>li>a {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    color: #000000;
    height: 49px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: 0.3s ease;
}
.main-header-menu>ul:not(.sub-menu)>li:first-child>a{
	padding: 0 15px 0 34px;
}
.main-header-menu>ul:not(.sub-menu)>li:hover a{
	background-color: #F8F5F5;
}
ul.sub-menu{
	display: none;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
    position: absolute;
    z-index: 99;
    width: 475px;
    height: 245px;
    left: 0;
    top: 100%;
    background: #F8F5F5;
	border: 1px solid #ECECEC;
	box-sizing: border-box;
	border-radius: 3px;
	padding-left: 35px;
	overflow: hidden;
}
.main-header-menu>ul:not(.sub-menu)>li:hover ul.sub-menu{
	display: flex;
}
img.image-animations {
    position: absolute;
    left: 100%;
    bottom: 60px;
}
ul.sub-menu li:hover img.image-animations {
	left: 60%;
	transition: 0.8s ease;
}
ul.sub-menu li{
	margin-bottom: 18px;
}
ul.sub-menu li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    transition: 0.3s ease;
}
ul.sub-menu li a:hover{
	border-color: #00AEEF;
}
.main-header-calculation{
	font-weight: bold;
font-size: 15px;
line-height: 18px;
text-decoration: none;
color: #00AEEF;
}